{{#each this}}
    <li class="country-list__item">
        <img src="{{this.flags.svg}}" alt="country flag" width="35"><p class="country-list__text"><b>{{this.name.official}}</b></p>
    </li>
{{/each}}